.home{
    background-color:  #e4e4e4;
    justify-content: center;
    color: rgb(33,37,41);
    background-size: cover;
    background-position: center;
  }
  
  .home_row{
    justify-content: center;
    align-items: center;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home_img{
    width:250px;
    height: 250px;
    border-radius: 50%;
  }
  
  .right {
    width: 70%;
    align-items: center;
  }
  
  .right h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .right p {
    font-size: 1rem;
    line-height: 1.5;
  }


  .social-links {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .social-links a {
    color: #1e3d58;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  .social-links a:hover {
    color: #0b1f2e;
  }

  @media (min-width: 768px){
    .home, .home_row, .home_container{
      height: 100vh;
    }
  }
  @media (max-width: 767.98px) {
    .left{
      display: none;
    }

    .right{
      padding: 7rem 0;
      background-color:  #e4e4e4;
    }

    .right h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    
    .right p {
      font-size: 1rem;
      line-height: 1.5;
    }

    
  }
  