nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1e3d58;
    color: white;
    padding: 1rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 3rem;
    margin-right: 1rem;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 1rem;
  }